  body {
    font-family: cursive;
    background-color: maroon;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 70%;
    margin: 30% auto;
    background-color: lightgoldenrodyellow;
    padding: 25px;
    border-radius: 10px;
  }

  h1 {
    color: rgb(167, 114, 50);
    text-align: center;
  }

  h2 {
    color: rgb(84, 60, 60);
    padding-bottom: 5px;
  }